<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel_El_Dorado</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="~/js/functions.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Estilos.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 logo">
                <a asp-controller="Administrador" asp-action="Index" class="logoImagen"><img class="logoImagen" src="~/img/logos.png"></a>
                <h2 id="h2">Hotel El Dorado</h2>
            </div>
            <div class="navbar-collapse cerrar" id="navbarSupportedContent">
                
                <div class="publicidadLateral">
                    <div id="carouselExampleSlidesOnly" class="publicidad carousel slide " data-ride="carousel">
                        <div class="carousel-inner imgItem">

                            @if (ViewBag.ListaOferta != null)
                            {
                                int contador = 0;
                                @foreach (OfertaModel temp in ViewBag.ListaOferta)
                                {
                                    @if (contador == 0)
                                    {
                                        
                                        <div class="carousel-item active imgItem">
                                            <a href="">
                                                <img src="../img/@temp.Imagen" class="img-fluid imgCarusel2" alt="@temp.Oferta" width="50" height="50">
                                            </a>
                                            <div class="carousel-caption">
                                                <h5 style="color: black;"> @temp.tipo </h5>
                                            </div>
                                        </div>
                                        
                                    }
                                    else
                                    {
                                        
                                        <div class="carousel-item imgItem">
                                            <a href="">
                                                <img src="../img/@temp.Imagen" class="img-fluid imgCarusel2" alt="@temp.Oferta" width="50" height="50">
                                            </a>
                                            <div class="carousel-caption">
                                                <h5 style="color: black;"> @temp.tipo </h5>
                                            </div>
                                        </div>
                                        
                                    }
                                    contador++;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="collapsibleNavbar">
                        <div class="list-group  sidebar">
                            <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action">Home</a>
                            <a asp-controller="SobreNosotros" asp-action="Index" class="list-group-item list-group-item-action">Sobre Nosotros</a>
                            <a asp-controller="Facilidad" asp-action="Index" class="list-group-item list-group-item-action">Facilidades</a>
                            <a asp-controller="ComoLlegar" asp-action="Index" class="list-group-item list-group-item-action">¿Cómo llegar?</a>
                            <a asp-controller="TipoHabitacion" asp-action="Index" class="list-group-item list-group-item-action">Tarifas</a>
                            <a asp-controller="Reservacion" asp-action="Index" class="list-group-item list-group-item-action">Reservar en línea</a>
                            <a asp-controller="Contactenos" asp-action="Index" class="list-group-item list-group-item-action">Contactenos</a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="publicidadLateral">


                <div id="carouselExampleSlidesOnly" class="publicidad carousel slide " data-ride="carousel">
                    <div class="carousel-inner imgItem">
                        @if (ViewBag.ListaPublicidad != null)
                        {
                            int contador = 0;

                            @foreach (PublicidadModel temp in ViewBag.ListaPublicidad)
                            {

                                @if (contador == 0)
                                {
                                    <div class="carousel-item active imgItem">
                                        <a href="@temp.Link" target="_blank">
                                            <img src="../img/@temp.Imagen" class="img-fluid imgCarusel" alt="@temp.Link" width="150" height="150">
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item imgItem">
                                        <a href="@temp.Link" target="_blank">
                                            <img src="../img/@temp.Imagen" class="img-fluid imgCarusel" alt="@temp.Link" width="50" height="50">
                                        </a>
                                    </div>
                                }
                                contador++;
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="containerBody">
                <main role="main" class="mainContainer">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="containerFooter">
            Copyright&copy;Hotel El Dorado 2022
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
